.env
.env.local
.next/
.next-build/
node_modules/
dist/
coverage/
.venv/
tsconfig.tsbuildinfo
prisma/dev.db
prisma/dev.db-journal
public/artifacts/
*.log
.envrc
env/
venv/
ENV/
env.bak/
venv.bak/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/
.abstra/
.ruff_cache/
.pypirc
.cursorignore
.cursorindexingignore
.DS_Store
